{% extends 'base.html.twig' %}

{% block title %}Delete Event{% endblock %}

{% block body %}
    <section class="bg-gray-50 dark:bg-gray-900 min-h-screen flex items-center justify-center">
        <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    Delete Event
                </h1>
                <p class="text-gray-700 dark:text-gray-300">Are you sure you want to delete this event?</p>
                <form method="post" action="{{ path('event_delete', {'id': event.id}) }}">
                    <button type="submit" class="w-full text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
                        Yes, Delete
                    </button>
                    <a href="{{ path('event_detail', {'id': event.id}) }}" class="w-full text-gray-700 bg-gray-100 hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-800">
                        Cancel
                    </a>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
