{% extends 'base.html.twig' %}

{% block title %}Event Created{% endblock %}

{% block body %}
    <h1>Event successfully created!</h1>
    <a href="{{ path('event_new') }}">Create another event</a>
{% endblock %}
